In [ ]:
List 
  list are mutable 
      - add update delete
  list are ordered 
      - indexing and sclicing
  list are hetrogenious

In [ ]:
l = [10,20,30,"python",[10,30,40]]

In [ ]:
Add 
  append 
  extend
  insert

In [2]:
l = ["python","php","C++"]
l.append("ruby")
print(l)

['python', 'php', 'C++', 'ruby']

In [34]:
l = ["python","php","C++"]
l.extend(["ruby","C","kotlin",200])
print(l)

['python', 'php', 'C++', 'ruby', 'C', 'kotlin', 200]

In [36]:
l = ["python","php","C++"]
l.insert(3,"java")
l.insert(4,"kotlin")
print(l)

['python', 'php', 'C++', 'java', 'kotlin']

In [8]:
#Update

l = ["python","php","C++"]
l[2] = "java"
print(l)

['python', 'php', 'java']

In [ ]:
Delete:
    pop
    remove
    clear
    del

In [37]:
l = [10,20,30,40,50]
l.pop(2)
print(l)

[10, 20, 40, 50]

In [16]:
#if we want value which is pop
l = [10,20,30,40,50]
r = l.pop()
print(r)

50

In [17]:
l = [10,20,30,40,50]
l.pop(2)
print(l)

[10, 20, 40, 50]

In [38]:
l = [10,20,30,40,50]
l.remove(20)
print(l)

[10, 30, 40, 50]

In [19]:
l = [10,20,30,40,50]
l.clear()
print(l)

[]

In [21]:
l = [10,20,30,40,50]
del l
print(l)

NameError: name 'l' is not defined

In [25]:
l = [10,20,30,40]
print(l[1])

20

In [41]:
#nested list
l = [10,20,[50,60,[90,100,110,120]]]
print(l[-1][-1][-3])

100

In [42]:
l = [10,20,[50,60,[90,100,110,120]]]
print(len(l))

3

In [ ]:
----------------Tuples---------------------------

In [ ]:
tuples:
    immutable
    ordered
      indexing and sclicing
      hetrogenious
    
tuples help to handle multiple values

once tuple is created we can not change the value

In [1]:
t = (1,2,3,4)
print(t[3])

4

In [2]:
t = (1,2,3,4,5,6,7,8)
print(t[2:4])

(3, 4)

In [3]:
t = (1,2,3,4,5,6,7,8)
n = list(t)
print(n)

[1, 2, 3, 4, 5, 6, 7, 8]

In [56]:
x = ("apple", "banana", "cherry",[1,2,3])
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry', [1, 2, 3])

In [ ]:
-----------Dictionary--------------

In [ ]:
To store record kind of data dictionary is better representation

In [ ]:
dict 
    -mutable
        add , update , delete
    -Unordered 
         not support indexing and sclicing

        All keys should be unique
          keys should be immutable = tuple, int, float, string

In [57]:
d = {"name":"abc","id":"123","contact_no":11991199,"marks":[10,20,30]}
print(d["name"])
print(d["marks"])

abc
[10, 20, 30]

In [10]:
#add

d = {"name":"abc","id":"123","contact_no":11991199,"marks":[10,20,30]}
d["address"]= "Pune"
print(d)

{'name': 'abc', 'id': '123', 'contact_no': 11991199, 'marks': [10, 20, 30], 'address': 'Pune'}

In [11]:
d = {"name":"abc","id":"123","contact_no":11991199,"marks":[10,20,30]}
d.setdefault("address","pune")
print(d)

{'name': 'abc', 'id': '123', 'contact_no': 11991199, 'marks': [10, 20, 30], 'address': 'pune'}

In [12]:
#update
d = {"name":"abc","id":"123","contact_no":11991199,"marks":[10,20,30]}
d["name"]= "xyz"
print(d)

{'name': 'xyz', 'id': '123', 'contact_no': 11991199, 'marks': [10, 20, 30]}

In [14]:
#delete

#pop
#pop item
#clear
#del

In [19]:
d = {"name":"abc","id":"123","contact_no":11991199,"marks":[10,20,30]}
d.pop("name")
print(d)       #by default it will remove on basic of key

{'id': '123', 'contact_no': 11991199, 'marks': [10, 20, 30]}

In [20]:
d = {"name":"abc","id":"123","contact_no":11991199,"marks":[10,20,30]}
d.popitem()
print(d)   #removes last key value pair

{'name': 'abc', 'id': '123', 'contact_no': 11991199}

In [22]:
#merge two dict

d1 = {"name":"abc"}
d2  = {"contact_no":119911}
d1.update(d2)
print(d1)

{'name': 'abc', 'contact_no': 119911}

In [25]:
#if we want key and value both

d1 = {'name': 'abc', 'contact_no': 119911}

for i in d1:
    print(i,d1[i])

name abc
contact_no 119911

In [ ]:
------------Sets----------

In [ ]:
Mutable
   -add update delete
   - unordered 
   - background implemenatation is dict
   - s = {10:0,20:0}
   - All the elements in set should be unique
   - All the elements in set should me immutable
        -int float  tuple str

In [27]:
s = {10,20,30,40,50,}
print(s)

{40, 10, 50, 20, 30}

In [59]:
#convert set in to list

s = {10,20,30,40,50}
l = list(s)
print(l)

l = sorted(s)
print(l)

[40, 10, 50, 20, 30]
[10, 20, 30, 40, 50]

In [ ]:
#set operations
 s1 union s2 gives all unique elements

 s1 intersection s2 gives common elements

 s1 difference s2 gives all elements in s1 are not in s2
    
 symmetric difference
    all elements in s1 and s2 common elements

 subset and superset

In [34]:
s1 = {10,20,30,40,50,60,70}
s2 = {80,90,100,110,120,130}

s3 = s1.union(s2)
print(s3)

{130, 100, 70, 40, 10, 110, 80, 50, 20, 120, 90, 60, 30}

In [38]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [60]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [40]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'google', 'microsoft'}

In [47]:
x = {10,20,30,40,50}
y = {10,20,30}


print(x.issubset(y))
print(x.issuperset(y))

False
True

In [49]:
l1 = [10,20,30,40,50,60]
l2 = [10,20,30]
s1 = set(l1)
s2 = set(l2)

print(s2.issubset(s1))

True

In [51]:
#how to intersection_update set
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s1.intersection_update(s2)
print(s1)

{40, 50, 60}

In [52]:
#how to difference_update set
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s1.difference_update(s2)
print(s1)

{10, 20, 30}

In [53]:
#how to symmetric_difference_update set
s1 = {10,20,30,40,50,60}
s2 = {40,50,60,70,80,90}

s1.symmetric_difference_update(s2)
print(s1)

{70, 10, 80, 20, 90, 30}

In [54]:
s1 = {10,20,30,40,50,60}
s1.add(70)
print(s1)

{70, 40, 10, 50, 20, 60, 30}

In [ ]:
#delete

   pop
   remove
   discard
   clear
   del

In [ ]:
-------------------Modules------------